@import '../../variables.scss';
.button {
  background: $secondary;
  color: white;
  border: none;
  width: auto;
  padding: 16px 32px;
  border-radius: 4rem;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 20px;
  &:hover {
    opacity: 0.9;
  }
}

@media screen and (max-width: 991px) {
  .button {
    font-size: 16px;
    padding: 14px 30px;
  }
}
