@import '../../variables.scss';
.formContainer {
  @include flex(center, center, column);
  width: 100%;
  height: 80%;
}
.closeButton {
  transition: 0.2s ease-in;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 10px !important;
  background-color: $primary !important;
  padding: 15px 20px;
  &:hover {
    color: black;
  }
}

.form {
  @include flex(space-around, center, column);
  position: relative;
  margin: auto;
  width: 40%;
  height: 100%;
  border: 3px solid $primary;
  border-radius: 10px;
}

.formItem {
  @include flex(space-evenly, center, column);
  height: 90px;
  width: 100%;
  &.messageContainer {
    height: 200px;
  }
}

.textArea,
.input {
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  &:focus {
    border: 2px solid $primary;
  }
  &:valid {
    border: 2px solid rgb(138, 207, 35);
  }
}

.textArea {
  resize: none;
  width: 80%;
  height: 70%;
  padding: 5px 0 0 10px;
}

.inputSubmit {
  transition: 0.2s ease-in-out;
  position: absolute;
  bottom: 0;
  background: $primary;
  border: none;
  width: 100%;
  height: 30px;
  font-size: 18px;
  color: white;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
    color: black;
  }
}

.input {
  width: 50%;
  height: 50px;
  padding: 0 0 0 10px;
  &::placeholder {
    text-align: center;
  }
  &:valid {
    border: 2px solid rgb(138, 207, 35);
  }
}
