@import '../../variables.scss';
.footer,
.footerContainer {
  @include flex(space-between, center, row);
}

.footer {
  width: 100%;
  height: 141px;
  background-color: $background3;
  color: white;
}

.footerContainer {
  width: 80%;
  margin: auto;
  height: 100%;
}

.socialMedia {
  width: 300px;
}
