@import '../../variables.scss';
.contactContainer {
  @include flex(center, center, column);
  width: 100%;
  height: calc(100vh - 140px);
}

.contactWrapper {
  @include flex(space-between, center, row);
  height: 100%;
  width: 80%;
  margin: auto;
}

.contactContent {
  @include flex(space-evenly, flex-start, column);
  width: 40%;
  height: 50%;
  h4 {
    font-size: 40px;
  }
  p {
    line-height: 30px;
  }
}

// Media

@media screen and (max-width: 1368px) {
}

@media screen and (max-width: 991px) {
  .contactContainer {
    h4 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
  }
  .showFormButton {
    width: 200px;
    font-size: 16px !important;
    padding: 14px 30px !important;
  }
  .contactLogo {
    width: 350px;
  }
}

@media screen and (max-width: 780px) {
  .contactWrapper {
    flex-direction: column;
  }
  .contactLogo {
    width: 300px;
  }
  .contactContent {
    width: 100%;
    align-items: center;
  }
  .contactWrapper {
    justify-content: space-evenly;
  }
}
