@import '../../variables.scss';
.projectsContainer {
  display: flex;
  justify-content: center;
  background-color: $background;
  width: 100%;
  height: 100vh;
  color: white;
}

.projectsWrapper {
  @include flex(space-around, center, column);
  margin: auto;
  width: 80%;
  height: 80%;

  h4 {
    font-size: 40px;
    padding: 50px 0 0 0;
  }
}
